<!-- Optional additional links to insert for icons links -->
{% if site.author.github %}
<a id="github-link"
   class="icon" title="Github Profile" aria-label="Github Profile"
   href="{{ site.author.github }}">
  {% include svg/github.svg %}
</a>
{% endif %}

{% if site.author.linkedin %}
<a id="linkedin-link"
   class="icon" title="Linkedin Profile" aria-label="Linkedin Profile"
   href="{{ site.author.linkedin }}">
  {% include svg/linkedin.svg %}
</a>
{% endif %}


{% if site.author.email %}
<a id="linkedin-link"
   class="icon" title="Email" aria-label="Email"
   href="mailto:{{ site.author.email }}">
  {% include svg/email.svg %}
</a>
{% endif %}